.quiz-container {

    .quiz-text {
        line-height: 1.5;
        display: inline-block;

        .quiz-gap {
            min-width: 7rem;
            height: 2rem;
            margin: 5px;
            vertical-align: middle;
            display: inline-block;
            background-color: rgb(207, 207, 207);
            height: auto;
            min-height: 3rem;

            .quiz-option {
                cursor: pointer;
                margin: 10px;
            }
        }
    }

    .default-space {
        display: inline-block;
        min-height: 20px;
        width: 90%;
        border: 1px solid black;
        padding: 1.5rem;

        .quiz-option {
            cursor: pointer;
            display: inline-block;
            float: left;
            clear: left;
        }

        .quiz-option::after {
            content: '\A';
            white-space: pre;
        }
    }
}