@import '../../../styles/neumorphism.scss';

.quiz-button {
    // -webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    // border-radius: 5px;
    // padding: 8px;
    // background-color: #e3e3e3;
    // border: solid #333333 1px;
    // text-decoration: none;
    // display: inline-block;
    // cursor: pointer;
    // text-align: center;
    // margin-bottom: 5px;
    @include neumorphism(#d6d6d6);
    color: darken(#d6d6d6, 70);
    border: none;
    padding: 20px;
    border-radius: 2px;
    display: inline-block;
    margin: 20px;
}

.quiz-button:hover {
    background: rgba(122, 241, 122, 0.2);
}

.quiz-card {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    max-width: 80vw;
}

.quiz-text {
    display: flex;
    flex-direction: column;

    .quiz-question {
        margin: 0 auto;
        padding: 2.2rem;
    }

    .quiz-awnser {
        margin: 0 auto;
        padding: 2.2rem;
    }
}