.italic {
    font-style: italic;
}

.xs {
    font-size: clamp(0.8rem, calc(5vw + 0.3rem), 2rem);
    line-height: 1;
    font-weight: 200;
}

.s {
    font-size: clamp(1rem, calc(5vw + 0.3rem), 2.2rem);
    line-height: 1;
    font-weight: 300;
}

.m {
    font-size: clamp(1.1rem, calc(4vw + 0.5rem), 2.5rem);
    line-height: 1;
    font-weight: 400;
}

.l {
    font-size: clamp(1.5rem, calc(5vw + 0.5rem), 3.2rem);
    line-height: 1;
    font-weight: 400;
}

.xl {
    font-size: clamp(1.7rem, calc(5vw + 0.6rem), 3.8rem);
    line-height: 1;
    font-weight: 500;
}

.xxl {
    font-size: clamp(2rem, calc(5vw + 0.8rem), 4.5rem);
    line-height: 1;
    font-weight: 500;
}

.xxxl {
    font-size: clamp(2.5rem, calc(5vw + 1rem), 5.5rem);
    line-height: 1;
    font-weight: 600;
}